body {
	position: relative;
	padding-bottom: 100px;
}
footer {
	font-weight: 300;
	height: 3em;
	padding-top: 0.75em;
	
	padding-bottom: 0.75em;
	/*line-height: 1em;*/
	font-size: 1.5em;
	
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #333;
	color: #eee;
}
footer a:link,
footer a:visited,
footer a:hover,
footer a:active 
{
	color: #ffcccc;
}