$bdrWidth = 10px
$pink = #FF69B4
$red = #B22222
$lightPurple = #E6E6FA
$lightBlue = #87CEFA
$lightGreen = #90EE90
$yellow = #FFD700
$boxSize = 600px

body 
	font-size 18px
sup
	font-weight bold
	font-size 1.25rem
lighterBox($color)
	border $bdrWidth solid $color
	background-color lighten($color, 50%)
	color $color
	border-radius 5rem !important
	span
		background-color $color
		color lighten($color, 50%)
darkerBox($color)
	border $bdrWidth solid darken($color, 50%)
	background-color $color
	border-radius 5rem !important
	color darken($color, 50%)
	span
		background-color darken($color, 50%)
		color $color
		
ul#slideShow
	display block
	height $boxSize
	position relative
	list-style-type none
	margin 0
	padding 0
	display flex
	flex-direction column
	align-items center
	justify-content center
	li
		position absolute
		top 0
		left 0
		font-weight bold
		font-size 20rem
		text-align center
		line-height $boxSize * 0.875
		box-sizing border-box
		max-width 100%
		margin 0 
		padding 0
		width $boxSize * 2
		border $bdrWidth solid black
		background-color #ddd
		border-radius 5rem !important
		color black
		span
			background-color black
			color #ddd
		&:first-of-type
			lighterBox($red)
		&:nth-child(2)
			darkerBox($lightPurple)
		&:nth-child(3)
			darkerBox($yellow)
		&:nth-child(4)
			darkerBox($lightGreen)
		&:nth-child(5)
			darkerBox($lightBlue)
		&:last-of-type
			lighterBox($pink)
			
		span
			$innerSize = 40rem
			font-size $innerSize * (2/3)
			border-radius 100%
			text-align center
			line-height 0.925 * $innerSize
			width $innerSize
			height $innerSize
			display inline-block
code 
	font-weight bold

ol 
	padding-left 1em

ol {
    counter-reset: item;
}

ol > li {
    counter-increment: item;
}

ol ol > li {
    display: block;
}

ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -20px;
}
ol ol 
	margin-top 0.5rem
	margin-left 0.5em

li 		
	margin-bottom 1rem

ul
	font-size 1.5rem
	list-style-type none
	padding-left 0
	li 
		line-height 2em
		a
			font-size 1.75rem
h3 + ul 
	li 
		font-size 1.75rem