body {
  font-size: 18px;
}
sup {
  font-weight: bold;
  font-size: 1.25rem;
}
ul#slideShow {
  display: block;
  height: 600px;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
ul#slideShow li {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 20rem;
  text-align: center;
  line-height: 525px;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: 1200px;
  border: 10px solid #000;
  background-color: #ddd;
  border-radius: 5rem !important;
  color: #000;
}
ul#slideShow li span {
  background-color: #000;
  color: #ddd;
}
ul#slideShow li:first-of-type {
  border: 10px solid #b22222;
  background-color: #e78282;
  color: #b22222;
  border-radius: 5rem !important;
}
ul#slideShow li:first-of-type span {
  background-color: #b22222;
  color: #e78282;
}
ul#slideShow li:nth-child(2) {
  border: 10px solid #2828c8;
  background-color: #e6e6fa;
  border-radius: 5rem !important;
  color: #2828c8;
}
ul#slideShow li:nth-child(2) span {
  background-color: #2828c8;
  color: #e6e6fa;
}
ul#slideShow li:nth-child(3) {
  border: 10px solid #806c00;
  background-color: #ffd700;
  border-radius: 5rem !important;
  color: #806c00;
}
ul#slideShow li:nth-child(3) span {
  background-color: #806c00;
  color: #ffd700;
}
ul#slideShow li:nth-child(4) {
  border: 10px solid #19a619;
  background-color: #90ee90;
  border-radius: 5rem !important;
  color: #19a619;
}
ul#slideShow li:nth-child(4) span {
  background-color: #19a619;
  color: #90ee90;
}
ul#slideShow li:nth-child(5) {
  border: 10px solid #0875b9;
  background-color: #87cefa;
  border-radius: 5rem !important;
  color: #0875b9;
}
ul#slideShow li:nth-child(5) span {
  background-color: #0875b9;
  color: #87cefa;
}
ul#slideShow li:last-of-type {
  border: 10px solid #ff69b4;
  background-color: #ffb4d9;
  color: #ff69b4;
  border-radius: 5rem !important;
}
ul#slideShow li:last-of-type span {
  background-color: #ff69b4;
  color: #ffb4d9;
}
ul#slideShow li span {
  font-size: 26.666666666666664rem;
  border-radius: 100%;
  text-align: center;
  line-height: 37rem;
  width: 40rem;
  height: 40rem;
  display: inline-block;
}
code {
  font-weight: bold;
}
ol {
  padding-left: 1em;
}
ol {
  counter-reset: item;
}
ol > li {
  counter-increment: item;
}
ol ol > li {
  display: block;
}
ol ol > li:before {
  content: counters(item, ".") ". ";
  margin-left: -20px;
}
ol ol {
  margin-top: 0.5rem;
  margin-left: 0.5em;
}
li {
  margin-bottom: 1rem;
}
ul {
  font-size: 1.5rem;
  list-style-type: none;
  padding-left: 0;
}
ul li {
  line-height: 2em;
}
ul li a {
  font-size: 1.75rem;
}
h3 + ul li {
  font-size: 1.75rem;
}
